<!DOCTYPE html>
<html>
<head>
	<title>Image Library</title>
	<link rel="stylesheet" type="text/css" href="<%= host %>/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="<%= host %>/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="<%= host %>/css/bootstrap_tagInput.css">
	<link rel="stylesheet" type="text/css" href="<%= host %>/css/global.css">
</head>
<body>
	<div class="container">
		<div id="topbar">
			<small>Dockety.io</small>
		</div>
		<input type="hidden" id="host" value="<%= host %>">
		<div class="row">
			<div class="col-md-2 left-nav">
				<ul>
					<li><a href="/">All Images</a></li>
					<!-- <li><a href="#" data-toggle="modal" data-target="#myModal">ttttUpload Image</a></li> -->
					<li><a href="#" class="trigger-file-upload" >Upload Image</a></li>
					<li><hr></li>
					<li>Latest uploaded</li>
					<li>Last modified</li>
					<li>Documents</li>
					<li><hr></li>
					<li>Create gallery</li>
				</ul>
			</div>