    <!-- Modal -->
    <div class="modal fade" id="uploadModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <form method="post" action="/upload-image" id="image-upload-form">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Set image before upload.</h4>
                        <small><b>Please note!</b>  You can edit this image from the library, after the upload is complete.</small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-7" id="prev-container">
                                <!-- <img src="" class="col-md-12" id="preview-on-trigger"> -->
                            </div>
                            <div class="col-md-5">
                                <div class="si_mike"></div>
                                <table class="table" style="border-top:none;">
                                    <tr>
                                        <td>Title <font color="red">*</font></td>
                                        <td><input type="text" name="image_name" class="form-control" placeholder="Image name"></td>
                                    </tr>
                                    <tr>
                                        <td>Alt text</td>
                                        <td><input type="text" name="image_caption" class="form-control" placeholder="Alternate text"></td>
                                    </tr>
                                    <tr>
                                        <td>Tags (tag1, tag2)</td>
                                        <td><input type="text" data-role="tagsinput" name="tags" class="form-control" placeholder="Comma separated"></td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td><textarea rows="3" class="form-control" name="description" placeholder="This image is about?"></textarea></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <input type="file" name="incoming" id="file-select" style="display:none;">
                    <div class="modal-footer">
                        <small class="pull-left"><span class="prev_size"></span> kb &nbsp; (<span class="prev_diamention"></span>)</small>
                        <button type="submit" id="submit-image" class="btn btn-default">Save image</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Cropper modal -->
    <div class="modal fade" id="editImgModal" role="dialog">
        <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row text-center _mike"></div>
                    <div class="row" >
                        <div class="col-md-7" >
                            <div class="col-md-12" id="cropCanvas"></div>
                            <div class="si_modalWrapper text-center">
                                <ul class="crop-tool">
                                    <li>
                                        <a href="#" class="zoom-in"><i class="fa fa-search-plus" aria-hidden="true"></i></i></a>
                                        <a href="#" class="zoom-out"><i class="fa fa-search-minus" aria-hidden="true"></i></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="start-crop"><i class="fa fa-crop" aria-hidden="true"></i></a>
                                        <a href="#" class="drag-image"><i class="fa fa-arrows" aria-hidden="true"></i></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="rotate-right"><i class="fa fa-repeat" aria-hidden="true"></i></a>
                                        <a href="#" class="rotate-left"><i class="fa fa-undo" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="flip-h"><i class="fa fa-arrows-h" aria-hidden="true"></i></a>
                                        <a href="#" class="flip-v"><i class="fa fa-arrows-v" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                                <ul class="crop-tool2">
                                    <li><a href="#" class="_croppedImage btn"><i class="fa fa-crop" aria-hidden="true"></i> Crop image</a></li>
                                    <li><a href="#" class="_undoCrop btn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Undo Crop</a></li>
                                    <!-- <li><a href="#" class="_uploadImage"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a></li> -->
                                    <li><a href="#" class="_downloadImage btn disabled"><i class="fa fa-download" aria-hidden="true"></i> Download </a></li>
                                </ul>
                            </div>
                        </div>
                        <% if( imgs.length > 0 ) {%>
                        <div class="col-md-5">
                            <div class="image-meta-edit">
                                <input type="hidden" id="chosen-file">
                                <div class="form-group">
                                    <label for="usr">Tags:</label>
                                    <!-- <input type="text" class="form-control" data-role="tagsinput" id="chosen-tags" value="<%= imgs[0].tags != null ? imgs[0].tags.join(',') : '' %>"> -->
                                    <input type="text" class="form-control" id="chosen-tags" value="<%= imgs[0].tags != null ? imgs[0].tags.join(',') : '' %>">                 
                                </div>
                                <div class="form-group">
                                    <label for="usr">Title:</label>
                                    <input type="text" class="form-control" id="chosen-title" value="<%= imgs[0].title %>">
                                </div>
                                <div class="form-group">
                                    <label for="usr">Alt text:</label>
                                    <input type="text" class="form-control" id="chosen-alt" value="<%= imgs[0].alt %>">
                                </div>
                                <div class="form-group">
                                    <label for="comment">Description:</label>
                                    <textarea class="form-control" rows="3" id="chosen-desc"><%= imgs[0].desc %></textarea>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancel </button>
                                    <button class="btn btn-primary jq_updateImgMeta"> Save changes </button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>